@using Newtonsoft.Json
@{
    ViewBag.Title = "Документы на рассмотрение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="documentsPage">

    <div class="md-flex md-flex-small-100">
        <md-table md-card>
            @using Microsoft.AspNet.Identity
            @if (User.IsInRole("Admin"))
            {
                <md-table-toolbar>
                    <h1 class="md-title">Все документы</h1>
                </md-table-toolbar>
            }
            else
            {
                <md-table-toolbar>
                    <h1 class="md-title">Мои документы</h1>
                </md-table-toolbar>
            }
            <md-table-row>
                <md-table-head md-numeric>Индекс</md-table-head>
                <md-table-head>Название</md-table-head>
                <md-table-head>Тип</md-table-head>
                <md-table-head>Создатель</md-table-head>
                <md-table-head>Исполнитель</md-table-head>
                <md-table-head>Контролер</md-table-head>
                <md-table-head>Действия</md-table-head>
            </md-table-row>

            <md-table-row v-for="doc in docs.AllDocuments" :key="doc.Id">
                <md-table-cell>{{ doc.DocIndex }}</md-table-cell>
                <md-table-cell>{{ doc.Name }}</md-table-cell>
                <md-table-cell>{{ doc.TypeModel.Name }}</md-table-cell>
                <md-table-cell><span v-if="doc.Creator != null">{{doc.Creator.Firstname}} {{doc.Creator.Lastname}}</span> <span v-else>Не назначен</span></md-table-cell>
                <md-table-cell><span v-if="doc.Executor != null">{{doc.Executor.Firstname}} {{doc.Executor.Lastname}}</span> <span class="md-accent" v-else><md-chip class="md-accent">Не назначен!</md-chip></span></md-table-cell>
                <md-table-cell><span v-if="doc.Inspector != null">{{doc.Inspector.Firstname}} {{doc.Inspector.Lastname}}</span> <span v-else><md-chip class="md-accent">Не назначен!</md-chip></span></md-table-cell>
                
                <md-table-cell>
                    <md-card-actions>
                        <md-button @@click="editing = !editing"><a :href="'/Document/Resolution/' + doc.Id">Просмотреть</a></md-button>
                        <md-button>
                            <a :href="'/Document/DownloadDocument?id=' + doc.Id" target="_blank" class="button3">Скачать</a>
                        </md-button>
                    </md-card-actions>
                </md-table-cell>
            </md-table-row>


        </md-table>
    </div>

    



</div>
<style lang="scss" scoped>
    .md-card {
        width: auto;
        margin: 20px;
        display: contents;
        vertical-align: central;
    }

    .md-menu-content {
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        min-width: 350px;
        max-width: 500px;
        max-height: 35vh;
        vertical-align: central;
        display: compact;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        position: absolute;
        z-index: 8;
        border-radius: 2px;
        transition: opacity .3s cubic-bezier(.25,.8,.25,1),-webkit-transform .2s cubic-bezier(.25,.8,.25,1);
        transition: transform .2s cubic-bezier(.25,.8,.25,1),opacity .3s cubic-bezier(.25,.8,.25,1);
        transition: transform .2s cubic-bezier(.25,.8,.25,1),opacity .3s cubic-bezier(.25,.8,.25,1),-webkit-transform .2s cubic-bezier(.25,.8,.25,1);
        will-change: opacity,transform,top,left !important;
    }
    .md-input[type=date] {
        max-width: 150px;
        text-align: left;
        
    }
    .md-field {
        left: 0px;
        text-align: left;
    }
</style>
@section scripts{
    <script>
        var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="~/Scripts/Document/All.js" defer></script>
}