@using Newtonsoft.Json
@{
    ViewBag.Title = "Документ на резолюции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="resolutionPage">
    <div v-if="editing" class="container">
        <form id="documentForm" novalidate class="md-layout-row md-gutter" @@submit.prevent="validateDocument">
            @Html.AntiForgeryToken()
            <md-card class="md-flex-50 md-flex-small-100">
                <md-card-header>
                    <div class="md-title">Составление резолюции</div>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout-row md-layout-wrap md-gutter">
                        <div class="md-flex md-flex-small-100">
                            <md-field :class="getValidationClass('Resolution')">
                                <label for="resolution">Резолюция</label>
                                <md-input name="resolution" id="resolution" autocomplete="document-resolution" v-model="form.Resolution" :disabled="sending" />
                                <span class="md-error" v-if="!$v.form.Resolution.required">The resolution is required</span>
                                <span class="md-error" v-else-if"!$v.form.Name.minlength">Неверное имя</span>
                            </md-field>
                        </div>
                        
                        <div class="md-flex md-flex-small-100">
                            <md-field :class="getValidationClass('ExecutorId')">
                                <label for="executorId">Исполнитель</label>
                                <md-select name="executorId" id="executorId" v-model="form.ExecutorId" md-dense :disabled="sending">
                                    <md-option v-for="user in form.Executors" :key="user.Id" :value="user.Id">{{user.Firstname}} {{user.Lastname}}</md-option>
                                </md-select>
                                <span class="md-error" v-if="!$v.form.ExecutorId.required">Нужно выбрать кому отправить документ.</span>
                            </md-field>
                        </div>

                        <div class="md-flex md-flex-small-100">
                            <md-field :class="getValidationClass('ControllerId')">
                                <label for="controllerId">Контролер</label>
                                <md-select name="controllerId" id="controllerId" v-model="form.ControllerId" md-dense :disabled="sending">
                                    <md-option v-for="user in form.Inspectors" :key="user.Id" :value="user.Id">{{user.Firstname}} {{user.Lastname}}</md-option>
                                </md-select>
                                <span class="md-error" v-if="!$v.form.ExecutorId.required">Нужно выбрать кому отправить документ.</span>
                            </md-field>
                        </div>
                    </div>
                        <md-button type="submit" class="md-primary" :disabled="sending">Обновить документ</md-button>
</md-card-content>
                <md-progress-bar md-mode="indeterminate" v-if="sending" />
            </md-card>
            @*<md-snackbar :md-active.sync="editing">Документ "{{ form.Name }}" успешно добавлен!</md-snackbar>*@
        </form>
    </div>
    <div v-else>
        <md-card md-with-hover>
            <md-ripple>
                <md-card-header>
                    <div class="md-title">Регистрационно-контрольная карточка</div>
                    <div class="md-subhead">совокупность регистрационно-учетных сведений о документе</div>
                </md-card-header>
            </md-ripple>
        </md-card>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <div class="md-title">{{form.Name}}</div>
                    <div class="md-subhead">{{form.TypeModel.Name}}</div>
                </md-card-header-text>
                <md-card-media md-big>
                    <img src="~/Content/Images/document.png" alt="Document">
                </md-card-media>
            </md-card-header>
            <md-card-content>
                <md-list class="md-triple-line">
                    <md-list-item>
                        <div class="md-list-item-text">
                            <span>Индекс документа: {{form.DocIndex}}</span>
                            <span>Создатель: {{form.Creator.Firstname}} {{form.Creator.Lastname}}</span>
                            <span>Руководитель: {{form.Manager.Firstname}} {{form.Manager.Lastname}}</span>
                            <span>Создан: {{form.Created}}</span>
                            <span>Необходимо исполнить: {{form.ExecutionPeriod}}</span>
                            <span>Заголовок: <span v-if="form.DocHeader != null">{{form.DocHeader}}</span> <span v-else><md-chip class="md-accent">Нет заголовка</md-chip></span></span>
                            <div v-if="form.Resolution != null">
                                <md-content>
                                    <span>Резолюция: {{form.Resolution}}</span>
                                </md-content>
                            </div>
                            <div v-else>
                                <md-content class="md-accent">
                                    <span>Резолюция: Нет резолюции</span>
                                </md-content>
                            </div>

                            <div v-if="form.ExecutorNote != null">
                                <md-content>
                                    <span>Отметка исполнителя: {{form.ExecutorNote}}</span>
                                </md-content>
                            </div>
                            <div v-else>
                                <md-content class="md-accent">
                                    <span>Отметка исполнителя: Нет отметки сполнителя</span>
                                </md-content>
                            </div>

                            <div v-if="form.ControllerNote != null">
                                <md-content>
                                    <span>Отметка контролера: {{form.ControllerNote}}</span>
                                </md-content>
                            </div>
                            <div v-else>
                                <md-content class="md-accent">
                                    <span>Отметка контролера: Нет отметки контролера</span>
                                </md-content>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions>
                <md-button @@click="editing = !editing"><a>Редактировать</a></md-button>
                <md-button>
                    <a :href="'/Document/DownloadDocument?id=' + form.Id" target="_blank" class="button3">Скачать</a>
                </md-button>
            </md-card-actions>
        </md-card>


    </div>
</div>
<style lang="scss" scoped>
    .md-card {
        width: auto;
        margin: 20px;
        display: contents;
        vertical-align: central;
    }

    .md-menu-content {
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        min-width: 350px;
        max-width: 500px;
        max-height: 35vh;
        vertical-align: central;
        display: compact;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        position: absolute;
        z-index: 8;
        border-radius: 2px;
        transition: opacity .3s cubic-bezier(.25,.8,.25,1),-webkit-transform .2s cubic-bezier(.25,.8,.25,1);
        transition: transform .2s cubic-bezier(.25,.8,.25,1),opacity .3s cubic-bezier(.25,.8,.25,1);
        transition: transform .2s cubic-bezier(.25,.8,.25,1),opacity .3s cubic-bezier(.25,.8,.25,1),-webkit-transform .2s cubic-bezier(.25,.8,.25,1);
        will-change: opacity,transform,top,left !important;
    }
    .md-input[type=date] {
        max-width: 150px;
        text-align: left;
        
    }
    .md-field {
        left: 0px;
        text-align: left;
    }
</style>
@section scripts{
    <script>
        var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="~/Scripts/Document/Resolution.js" defer></script>
}